<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <div>
    <mat-form-field class="mr_16" appearance="outline">
      <mat-label>First Name</mat-label>
      <input [(ngModel)]="user.firstName" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="user.lastName" matInput placeholder="" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full_width" appearance="outline">
      <mat-label>Birthdate</mat-label>
      <input
        [(ngModel)]="birthDate"
        matInput
        [matDatepicker]="picker"
        placeholder="MM/DD/YYYY"
      />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full_width" appearance="outline">
      <mat-label>Str. + House No.</mat-label>
      <input [(ngModel)]="user.street" matInput placeholder="" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr_16" appearance="outline">
      <mat-label>Zipcode</mat-label>
      <input [(ngModel)]="user.zipCode" matInput placeholder="" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mr_16" mat-button>Cancel</button>
  <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
