<mat-drawer-container class="mat_drawer_container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo_container">PLATZ FÜR LOGO</div>
    <ul class="menu_items">
      <li><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="sidenav_content">
    <mat-toolbar class="mat_toolbar">
      <mat-icon class="mat_icon" (click)="drawer.toggle()">menu</mat-icon>

      <span>Simple CRM</span>
    </mat-toolbar>
  </div>
</mat-drawer-container>
