@import "../styles.scss";

.mat_drawer_container {
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

.sidenav {
  width: 300px;
  border-radius: unset;
  border-right: 1px solid rgba(0, 0, 0, 0.15);

  .logo_container {
    @include flexbox($jc: unset);
    min-height: 56px;
    padding-inline: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .menu_items {
    li {
      @include flexbox($jc: unset);
      height: 2.5rem;
      padding-inline: 1rem;

      mat-icon{
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.mat_toolbar {
  min-height: 56px;
  height: 56px;
  font-size: 1.2rem;
  color: $mainFontColor;
  background-color: $mainColor;

  .mat_icon {
    @include curserPointer;
    color: $mainFontColor;
  }
}
