<mat-card class="user_detail_header">

  <button class="user_menu_btn" [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>

  <div class="user_details">
    <img src="/img/user.png" alt="User Picture" />
    <p>
      {{ user.firstName }} {{ user.lastName }} <br />
      {{ user.email }}
    </p>
  </div>
</mat-card>

<mat-card class="adress_card mt_32">
  <button class="address_menu_btn" [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.street }} <br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>
