@import "../../styles.scss";

.user_detail_header {
  display: flex;
  justify-content: flex-end;
  min-height: 250px;
  color: white;
  background-color: $btnColor;
  border-radius: 0.5rem 0.5rem 0 0;

  .user_menu_btn {
    @include curserPointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: unset;
    color: $formularWhite;
    background-color: transparent;
  }

  .user_details {
    display: flex;
    align-items: flex-end;
    margin: 0 0 1rem 1rem;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 100%;
    }

    p {
      margin-left: 1rem;
    }
  }
}

.adress_card {
  display: flex;
  gap: 1rem;
  border-radius: 0;

  .address_menu_btn {
    @include curserPointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: unset;
    background-color: transparent;
  }
}