<mat-card class="user_detail_header">
  <div class="user_details">
    <img src="/img/user.png" alt="User Picture" />
    <p>
      {{ user.firstName }} {{ user.lastName }} <br />
      {{ user.email }}
    </p>
  </div>
</mat-card>

<mat-card class="adress_card mt_32">
  <div>
    <mat-card-header>
      <mat-card-title>Address:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ user.street }} <br />
      {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
  </div>
</mat-card>
