@import "../../styles.scss";

/* :host {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 120px;
} */

.user_table {
  margin: 1rem 1rem;
  padding: 0 1rem;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    &:not(:first-child) {
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    td {
      height: 2.5rem;
    }
  }

  th {
    text-align: start;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 500;
  }
}

.add_user_btn {
  position: absolute;
  right: 3.5rem;
  bottom: 3.5rem;
}
