$mainColor: #3c55bb;
$btnColor: #2a3647;
$btnColorLight: #29abe2;
$formularWhite: #fdfbff;
$mainFontColor: #f5f5f5;

@mixin flexbox($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin coverBackground($s: cover, $p: center) {
  background-repeat: no-repeat;
  background-size: $s;
  background-position: $p;
}

@mixin randomBorder($width: 2px) {
  $red: random(255);
  $green: random(255);
  $blue: random(255);
  border: $width dashed rgb($red, $green, $blue);
}

@mixin curserPointer {
  &:hover {
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mr_16 {
  margin-right: 1rem;
}

.full_width {
  width: 100%;
}

.btn_full {
  width: 6rem;
  height: 2rem;
  border: unset;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: $mainFontColor;
  background-color: $btnColor;

  &:hover {
    cursor: pointer;
    background-color: $btnColorLight;
    box-shadow: -1px 5px 5px 0px #c2c2c2;
  }
}

.btn_clear {
  width: 6rem;
  height: 2rem;
  border: unset;
  border: 1px solid $btnColor;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: $btnColor;
  background-color: $formularWhite;

  &:hover {
    cursor: pointer;
    color: $btnColorLight;
    border-color: $btnColorLight;
    box-shadow: -1px 5px 5px 0px #c2c2c2;
  }
}
